<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path=".next/standalone/server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url=".next/standalone/server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      node_env="production"
      nodeProcessCountPerApplication="1"
      loggingEnabled="true" 
      devErrorsEnabled="true"
      watchedFiles="*.js;iisnode.yml"
    />
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>