/* ✅ Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Source+Sans+3:wght@400;600;700&display=swap");

/* ✅ Tailwind v4 */
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #f3f4f6;
}

html.dark body {
  background: #0b1220;
}


/* hide scrollbars but keep scroll */
@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
